.envrc
.tool-versions
**/.env
**/.git
**/.gitignore
**/.ionide
**/.vscode
**/bin
**/obj
appsettings.json
**/charts
**/kustomize
**/docker-compose*
**/compose*
**/Dockerfile*
**/.dockerignore
test
README.md
